<div class="<%= flash[:class_css] if !flash[:class_css].nil? %>">
<%= notice %>
</div>
<%if !current_user.integration.nil? %>
	<form action="<%= twitter_post_path %>" method="post">
		<textarea name="tweet_text" placeholder="Compose new Tweet" class="tweet-box"></textarea><br>
		<input name="tweet_submit" type="submit" value="Tweet" class="nicebutton right">
	</form>
<% end %>
<div class="clean"></div>
<% @twi.each do |tweet| %>
  <div style="position:relative;margin-left: 60px;">
  	<a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/medkinect" data-user-id="822285216">
      <img class="avatar" style="
position: absolute;
top: 2px;
left: -57px;
" src="<%= tweet.user.profile_image_url %>" alt="<%= tweet.user.name %>">
      <strong class="fullname js-action-profile-name show-popup-with-id"><%= tweet.user.name %></strong>
      <span>‏</span><span class="username js-action-profile-name"><s>@</s><b><%= tweet.user.screen_name %></b></span>
    </a>
		<p><%= tweet.text.html_safe %></p>
	</div>
<%end if !@twi.nil?%>