<%= form_for(@sick, :validate => true) do |f| %>
  <% if @sick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sick.errors.count, "error") %> prohibited this sick from being saved:</h2>

      <ul>
      <% @sick.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'greenbutton' %>
  </div>
<% end %>
