<h1>Listing sicks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sicks.each do |sick| %>
  <tr>
    <td><%= sick.title %></td>
    <td><%= sick.description %></td>
    <td><%= link_to 'Show', sick %></td>
    <td><%= link_to 'Edit', edit_sick_path(sick) %></td>
    <td><%= link_to 'Destroy', sick, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @sicks %>

<%= link_to 'New Sick', new_sick_path , :class => 'greenbutton'%>
