<%= form_for(@user,:validate => true)  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username%>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= select("user", "role_id", Role.all.collect {|p| [ p.title, p.id ]} ) %>
  </div>
  <div class="field">
    <%= f.label :specialism %><br />
	<table>
		<tr>
			<td>
				<%= select_tag  "specialismlist", options_from_collection_for_select(@specialismslist,"id", "title"), :multiple=>true, :size => 8, :id => "select1", :class=>"select-box" %><br>
				<a href="#" id="add-row" class="arrow">add >></a>
			</td>
			<td>
				<%= select_tag "specialisms",options_from_collection_for_select(@user.specialisms,"id", "title"), :multiple=>true, :size => 8, :id => "select2",:class=>"select-box" %><br>
				<a href="#" id="remove-row" class="arrow"><< remove</a>
			</td>
		</tr>
	</table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
