<h1>Listing users</h1>
<a class="greenbutton" href="users/new"><span>Add new user</span></a>
<table>
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th  scope="col">Fullname</th>
    <th  scope="col">Status</th>
    <% if current_user.role.access == 'all' %>
    <th scope="col">Actions</td>
    <% end %>
  </tr>

<% @users.each_with_index do |user, index| %>
  <tr class="<%=  index%2 == 0 ? 'even' : 'odd' %>">
    <td class="spec"><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.fullname %></td>
    <td><%= user.status == "en" ?  "Enabled" : "Disabled" %></td>
    <% if current_user.role.access == 'all' %>
    <td><%= link_to 'Show', user, :class => "nicebutton" %> <%= link_to 'Edit', edit_user_path(user), :class=>"greybutton" %> <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete, :class => "redbutton" %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @users %>
