<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @specialism.title%>
</p>
<p>
  <b>Description:</b>
  <%= @specialism.description%>
</p>

<%= link_to 'Edit', edit_specialism_path(@specialism) %> |
<%= link_to 'Back', specialisms_path %>
