<h1>Listing roles</h1>
<%= @role %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Access</th>
    <th>Actions</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.title %></td>
    <td><%= role.description %></td>
    <td><%= $role_access_labels[role.access] %></td>
    <td><%= link_to 'Show', role, :class=>"nicebutton" %>
    <%= link_to 'Edit', edit_role_path(role), :class=>"greybutton" %>
    <%= link_to 'Destroy', role, confirm: 'Are you sure?', method: :delete, :class=>"redbutton" %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @roles %>

<%= link_to 'New Role', new_role_path, :class => 'greenbutton' %>
