<p id="notice"><%= notice %></p>
<%if !@role.nil? %>
	<p>
		ID: <%= @role.id%>
	</p>
	<p>
		Title: <%= @role.title%>
	</p>
	<p>
		Description: <%= @role.description%>
	</p>
	<p>
		Access: <%= $role_access_labels[@role.access]%>
	</p>
<%else%>
	
<%end%>
