<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, :placeholder => 'first name'%>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, :placeholder => 'last name' %>
  </div>
  <div class="field">
    <%= f.label :dni.upcase %><br />
    <%= f.text_field :dni, :placeholder => 'DNI' %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate, :start_year => Time.now.year - 100  %>
  </div>
  <div class="field">
    <%= f.label :blood_id %><br />
    <%= f.text_field :blood_id %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile, :placeholder => 'mobile phone' %>
  </div>
  <div class="field">
    <%= f.label :phone%><br />
    <%= f.text_field :phone, :placeholder => 'Home phone' %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.select :sex,  {"Male" => "male", "Female" => "female", "No spesified" => "ns"}, :selected => @patient.sex %>
  </div>
  <div class="field">
    <%= f.label :marital_status %><br />
    <%= f.select :marital_status,  {"Maried" => "maried", "Single" => "single", "No spesified" => "ns"}, :selected => @patient.sex %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :placeholder => 'Address' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
