<h1>Listing patients</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Dni</th>
    <th>Birthdate</th>
    <th>Blood</th>
    <th>Historical</th>
    <th>Actions</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.firstname %></td>
    <td><%= patient.lastname %></td>
    <td><%= patient.dni %></td>
    <td><%= patient.birthdate %></td>
    <td><%= patient.blood_id %></td>
    <td><%= patient.historical_id %></td>
    <td><%= link_to 'Show', patient, :class=>"nicebutton" %>
    <%= link_to 'Edit', edit_patient_path(patient), :class=>"greybutton" %>
    <%= link_to 'Destroy', patient, confirm: 'Are you sure?', method: :delete, :class=>"redbutton" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path, :class => 'greenbutton' %>
