<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @patient.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @patient.lastname %>
</p>

<p>
  <b>Dni:</b>
  <%= @patient.dni %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @patient.birthdate %>
</p>

<p>
  <b>Blood:</b>
  <%= @patient.blood_id %>
</p>

<p>
  <b>Historical:</b>
  <%= @patient.historical_id %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
