<!DOCTYPE html>
<html>
	<head>
		<title>Server</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= javascript_include_tag "rails.validations", "rails.validations.custom", "jquery-ui-1.7.3.custom.min" %>
	</head>
	<body>
		<div class="body_wrap">
			<div class="entry_page">
				<div id="header">
					<div id="menu">
						<% if !session[:user].nil? %>
						<ul id="nav">
							<li class="top">
								<%= link_to 'Home', :home %>
							</li>
							<li class="top">
								<a href="<%= users_path %>" class="top_link"><span class="down">Users</span> </a>
								<ul class="sub">
									<li>
										<%= link_to 'New User', new_user_path , :id => "news_user" %>
									</li>
								</ul>
							</li>
							<li class="top">
								<a href="<%= patients_path %>" class="top_link"><span class="down">Patients</span> </a>
								<ul class="sub">
									<li>
										<%= link_to 'New Patient', new_patient_path , :id => "news_patient" %>
									</li>
								</ul>
							</li>
							<li class="top">
								<a href="" id="contacts" class="top_link"><span class="down">Manteinament</span></a>
								<ul class="sub">
									<li class="top">
										<%= link_to 'Profile', current_user, :class => "top_link" %>
									</li>
									<% current_user.role.access %>
									<% if current_user.role.access == 'all' %>
									<li class="top">
										<%= link_to 'Roles', roles_path, :class => "top_link" %>
									</li>
									<% end %>
									<% if session[:user].integration.nil? %>
									<li>
										<%= link_to 'Twitter Int', :twitter_authentication %>
									</li>
									<% end %>
								</ul>
							</li>
						</ul>
						<% else %>
						<span class>Medkinect</span>
						<% end %>
					</div>
				</div>
				<div  class="middle">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
